<h3> List of Private Blogs </h3>

<ul class="list">
    <% @blogs.each do |blog| %>
        <li class="list-item">
            <%= link_to blog_path(blog.id) do%>
            <span>
                <%= blog.title  %>
            </span>
            <p>
                <%= blog.content.to_plain_text.truncate(30) %>
            </p>
            <span>
                <%= "by, " + blog.user[:display_name] %>
            </span>
            <% end %>
        </li>
    <% end %>
</ul>